.contract {
	.seeking {
		padding: 100px 0 50px 0;
		ul {
			color: $font-color;
			margin-top: 40px;
			.fa {
				color: $lsp-blue;
			}
			li {
				margin-bottom: 20px;
				a {
					color: $font-color;
					padding-bottom: 15px;
					display: block;
				}
			}
		}
		.contract-img {
			width: 300px;
			display: block;
			margin: auto;
		}

		#contractors-img {
			margin-top: 10%;
		}
	}
	.downloads {
		padding: 50px 0 50px 0;
		background-image: url(images/downloads.png);
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		color: #ffffff;
		.title {
			opacity: 0.6;
		}
		.heading {
			font-size: 30px;
			padding: 20px 0 20px 0;
		}
		.subheading {
			font-size: 12px;
		}
		.download-btn {
			display: inline-block;
			font-size: 12px;
			background: #ffffff;
			width: 150px;
			margin: 50px auto auto auto;
			padding: 10px;
			@include border-radius(4px); 
			text-decoration: none;
			color: $lsp-blue;
		}
		// .timesheets{
		// 	margin-right: 40px;
		// }
		.expenses {
			margin-left: 40px;
			@media only screen and (max-width: 1199px) {
				margin-left: 4px;
			}
		}
	}
}


.permanent-content {
	p {
		color: #9b9b9b;
	}
}