.contact-us {
  #map {
    width: 100%;
    height: 523px;
  }
  .contact-details {
    background-color: #282E33;
    width: 100%;
    height: 150px;
    position: relative;
    #contact-details {
      text-align: center;
      padding: 55px 0 55px;
      span {
        font: {
          size: 23px;
        }
        color: #fff;
        a {
          text-decoration: none;
          color: #fff;
        }
        #tel {
          color: #F6A623;
        }
      }
      span.address {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
  .contact-box {
    @include lsp-copy();
    background: $lsp-blue;
    color: #ffffff;
    padding: 50px 0 50px 0;
    @include border-radius(4px);
    .field-box {
      @include lsp-copy();
      margin-bottom: 15px;
      padding: 10px;
      background: #3f73ce;
      @include border-radius(4px);
      input {
        display: block;
        width: 100%;
        float: right;
        @include border-radius(4px);
        padding: 10px;
        outline: none;
        border: none;
        background: #5281d2;
        color: #4A4A4A;
        &:focus {
          background: #ffffff;
        }
      }
      textarea {
        background: #5281d2;
        display: block;
        width: 100%;
        @include border-radius(4px);
        padding: 10px;
        outline: none;
        border: none;
        min-height: 300px;
        &:focus {
          background: #ffffff;
        }
        color: #4A4A4A;
      }
      button {
        @include border-radius(4px);
        -webkit-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
        text-align: center;
        border: 1px solid #ffffff !important;
        padding: 10px;
        margin-top: 10px;
        display: inline-block;
        float: right;
        width: 130px;
        background: transparent;
        &:hover {
          background: rgba(255,255,255,0.4) 
        }
      }
    }
  }
}

.wpcf7-submit {
  max-width: 30%;
  border: 1px solid #ffffff !important;
  background: transparent !important;
  color: #fff !important;
  -webkit-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  width: 130px;
  &:hover {
    background: rgba(255,255,255,0.4) !important;
  }
}

.contact-box .wpcf7-mail-sent-ok, .contact-box .wpcf7-validation-errors {
  max-width: 70%;
  margin: 0 auto !important;
  border: none !important;
  padding-left: 0 !important;
}

.wpcf7-validation-errors {
  color: #f7e700 !important;
}

.wpcf7-mail-sent-ok {
  color: #398f14 !important
}

.signup .wpcf7-mail-sent-ok, .signup .wpcf7-validation-errors {
  max-width: 80%;
  margin: 0 auto !important;
  border: none !important;
  padding-left: 0 !important;
}

input[type=file] {
  opacity: 0;
  margin-top: -44px;
}

.send-cv {
  -webkit-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  text-align: center;
  border: 1px solid #ffffff !important;
  padding: 11px !important;
  display: inline-block;
  min-width: 100%;
  background: transparent;
  &:hover {
    background: rgba(255,255,255,0.4) 
  }
}
