.successful-candidates {
  .sc-top {
    padding: 50px 0 50px 0;
  }
  .reasons {
    padding-top: 50px;
    text-align: center;
    .dotted-box {
      border: 1px dashed #4990E2;
      width: 100%;
      padding-top: 0px;
      height: 475px;
      position: relative;
      @media only screen and (max-width: 1199px) {
        height: 555px;
      }
      @media only screen and (max-width: 992px) {
        display: none;
      }
      .dotted-text {
        position: absolute;
        // top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: -35px auto;
        height: 50px;
        width: 100%;
        max-width: 49%;
        background: #fff;
        color: #4990E2;
        font-size: 18px;
      }
    }
    .step-1 {
      margin-top: 30px;
      height: auto;
      padding: 30px;
      background: #92bcee;
      color: #ffffff;
      .heading {
        font-size: 14px;
        margin-bottom: 30px;
      }
      .title {
        font-size: 20px;
        margin-bottom: 15px;
        @include lsp-copy();
      }
      .content {
        font-size: 12px;
        margin-bottom: 30px;
        @include lsp-copy();
        ;
      }
      .apply {
        font-size: 12px;
        color: #ffffff;
        @include lsp-copy();
        .fa-chevron-right {
          font-size: 8px;
          margin-left: 5px;
        }
      }
    }
    .step-2 {
      margin-top: 30px;
      height: auto;
      padding: 30px;
      background: #6ea6e8;
      color: #ffffff;
      .heading {
        font-size: 14px;
        margin-bottom: 30px;
      }
      .title {
        font-size: 20px;
        margin-bottom: 15px;
        @include lsp-copy();
      }
      .content {
        font-size: 12px;
        margin-bottom: 51px;
        @include lsp-copy();
      }
      .apply {
        font-size: 12px;
        color: #ffffff;
        @include lsp-copy();
        .fa-chevron-right {
          font-size: 8px;
          margin-left: 5px;
        }
      }
    }
    .step-3 {
      margin-top: 30px;
      height: auto;
      padding: 30px;
      background: #4190e2;
      color: #ffffff;
      .heading {
        font-size: 14px;
        margin-bottom: 30px;
      }
      .title {
        font-size: 20px;
        margin-bottom: 15px;
        @include lsp-copy();
      }
      .content {
        font-size: 12px;
        margin-bottom: 30px;
        @include lsp-copy();
      }
      .apply {
        font-size: 12px;
        color: #ffffff;
        @include lsp-copy();
        .fa-chevron-right {
          font-size: 8px;
          margin-left: 5px;
        }
      }
    }
    .step-4 {
      margin-top: 30px;
      height: auto;
      padding: 30px;
      background: #5487bd;
      color: #ffffff;
      .heading {
        font-size: 14px;
        margin-bottom: 30px;
      }
      .title {
        font-size: 20px;
        margin-bottom: 15px;
        @include lsp-copy();
      }
      .content {
        font-size: 12px;
        margin-bottom: 30px;
        @include lsp-copy();
      }
      .apply {
        font-size: 12px;
        color: #ffffff;
        @include lsp-copy();
        .fa-chevron-right {
          font-size: 8px;
          margin-left: 5px;
        }
      }
    }
  }
  .advice {
    ul {
      list-style: none;
      margin-left: 50px;
      padding: 0;
      li {
        @include lsp-copy();
        padding-bottom: 30px;
        color: #9B9B9B;
        .tick,
        .cross {
          width: 30px;
          margin-right: 20px;
        }
      }
    }
  }
  .process {
    text-align: center;
    .process-img {
      margin-top: 50px;
    }
  }
}
